Repository SnO2WMaN/music-box: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-package-json --write, prettier --write, eslint --fix

:sparkles: メインのスクリプト設置
  index.js
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, eslint --fix

:construction_worker: Github Actionで定期的に実行する
  .github/workflows/schedule.yml
  Dockerfile
Due: prettier --write

:green_heart: 定期実行の間隔を5分に
  .github/workflows/schedule.yml
Due: prettier --write

:pencil: 最低限のREADME.mdを作成
  README.md
Due: none

:page_facing_up: LICENSE追加
  LICENSE
Due: none

:construction_worker: Circle CIで実行
  .circleci/config.yml
Due: prettier --write

:fire: Github Action関連のファイルを削除
  .github/workflows/schedule.yml
  Dockerfile
Due: prettier --write

:green_heart: Circle CIのcacheキーを変更
  .circleci/config.yml
Due: prettier --write

:green_heart: cronの設定を修正
  .circleci/config.yml
Due: prettier --write

:wrench: renovate.json設置
  renovate.json
Due: none

:wrench: 定期実行の間隔を1時間に
  .circleci/config.yml
Due: prettier --write

:pencil: FUNDING.yml設置
  .github/FUNDING.yml
Due: prettier --write

:bug: グラフバーがずれる時があるのを修正
  index.js
Due: prettier --write, eslint --fix

:art: 可能な限り全アーティストを記録する
  index.js
Due: prettier --write, eslint --fix

:bento: README.md用の画像設置
  preview.png
Due: none

:pencil: README.md更新
  .all-contributorsrc
  README.md
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write

:pencil2: README.mdのtypo修正
  README.md
Due: none

:pushpin: nodeのバージョンを固定
  .node-version
Due: none

:bug: グラフバーの長さが合っていないのを修正
  index.js
Due: prettier --write, eslint --fix

:pushpin: Lock file maintenance
  package-lock.json
Due: none

⬆️ Lock file maintenance
  package-lock.json
Due: none

⬆️ Update dependency @conten2/eslint-config to v2
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write

Path conditions:
  prettier-package-json --write: any of: package.json
  prettier --write: ((any of: package.json) or (any of: *.js)) or (any of: *.yml)
  eslint --fix: any of: *.js
