Repository SnO2WMaN/music-box: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-package-json --write, prettier --write, eslint --fix

.lintstagedrc:

{
  "package.json": [
    "prettier-package-json --write",
    "prettier --write",
    "git add"
  ],
  "*.js": ["eslint --fix", "prettier --write", "git add"],
  "*.yml": ["prettier --write", "git add"]
}

⬆️ Lock file maintenance
  package-lock.json
Due: none

📌(node.js) Pin to 12.14.0
  .node-version
Due: none

🔥 Remove circle ci config
  .circleci/config.yml
Due: prettier --write

🏗 Shift to yarn
  package-lock.json
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

🙈 Update gitignore
  .gitignore
Due: none

👍 Improve generating
  index.js
Due: prettier --write, eslint --fix

🔧(gitmoji) Add config file
  .gitmojirc
Due: none

👷(github actions) Add workflow
  .github/workflows/ci.yml
Due: prettier --write

👷(renovate) Update config file
  renovate.json
Due: none

🔧 Use my own config presets
  .eslintrc
  .prettierrc
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

⬆️ Lock file maintenance
  yarn.lock
Due: none

fix typo
  README.md
Due: none

💬 Typo修正(#22)
  README.md
Due: none

⬆️ Update Node.js to v12.14.1
  .node-version
Due: none

⬆️ Update dependency prettier to v2
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write
